Cython
Pillow
PyYAML>=5.3.1
opencv-python==4.2.0.34
torch>=1.7.0
torchvision>=0.8.1
tqdm>=4.41.0
neuralgym @ git+https://github.com/JiahuiYu/neuralgym
tensorflow==1.14.0
imutils
requests
matplotlib
pandas
seaborn
